{% extends 'user/auth_body.html' %}

{% block title %}Login{% endblock %}

{% block formContent %}
<div class="col-lg-5" id="login-col">
    <div class="card shadow">
        <div class="card-body text-center" id="login-card">
            <h2 class="card-title">Login</h1>
            <p class="card-text">
                <form class="m-5" action="{% url 'user:login' %}" method="post">
                    {% csrf_token %}
                    {{ login_form }}
                    <div class="btn-group d-flex pt-3">
                        <button type="submit" name="login" class="btn btn-primary">
                            Sign in
                        </button>
                        <a type="button" name="login" class="btn btn-outline-secondary"
                        href="{% url 'reference:index' %}">
                            Sign in as a Guest
                        </a>
                    </div>
                </form>
            {% include 'messages.html' %}
            <div>
                Need an account? <a href="{% url 'user:register' %}" id="registerAnchor">Register</a>
            </div>
            </p>
        </div>
    </div>
</div>
{% endblock %}